<div
  class="container flex items-center justify-center h-screen mx-auto mt-3 bg-slate-50"
>
  <div class="w-full p-10 shadow md:w-1/2">
    <h2 class="mb-6 text-2xl font-semibold">Reset Password?</h2>
    <p class="text-base font-medium">Email</p>
    <div class="mb-3">
      <input
        type="email"
        readonly
        name="email"
        [(ngModel)]="resetPasswordObj.email"
        placeholder="Email"
        class="w-full p-2 border border-gray-300 rounded-md shadow"
      />
    </div>
    <p class="text-base font-medium">New Password</p>
    <div class="mb-3">
      <input
        type="email"
        name="password"
        [(ngModel)]="resetPasswordObj.newPassword"
        placeholder="newPassword"
        class="w-full p-2 border border-gray-300 rounded-md shadow"
      />
    </div>
    <button
      (click)="resetPassword()"
      [disabled]="!resetPasswordObj.email || !resetPasswordObj.newPassword"
      class="px-4 py-2 text-white rounded bg-slate-900 disabled:bg-slate-500"
    >
      Reset Password
    </button>
  </div>
</div>
